{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('search') }}" style="float: right; margin-right: 30px; margin-top: 30px">
        <button type="button" class="btn btn-primary btn-round-sm btn-sm">Retrouver une facture<i
                    class="fa fa-paper-plane" style="margin-left: 10px" aria-hidden="true"></i></button>
    </a>

    <div class="digicket">
        <h1>Découvrir Digicket Page Here </h1>
    </div>




{% endblock %}